@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-extrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("../fonts/opensanscondensed-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("../fonts/opensanscondenced-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

[class*='col-'] {
  width: 100%;
  padding: 0 10px; }

@media (max-width: 480px) {
  .container {
    width: 100%; }
  .hidden-xs {
    display: none; }
  .col-xs-12 {
    width: calc(100% * (12 / 12)); }
  .col-xs-11 {
    width: calc(100% * (11 / 12)); }
  .col-xs-10 {
    width: calc(100% * (10 / 12)); }
  .col-xs-9 {
    width: calc(100% * (9 / 12)); }
  .col-xs-8 {
    width: calc(100% * (8 / 12)); }
  .col-xs-7 {
    width: calc(100% * (7 / 12)); }
  .col-xs-6 {
    width: calc(100% * (6 / 12)); }
  .col-xs-5 {
    width: calc(100% * (5 / 12)); }
  .col-xs-4 {
    width: calc(100% * (4 / 12)); }
  .col-xs-3 {
    width: calc(100% * (3 / 12)); }
  .col-xs-2 {
    width: calc(100% * (2 / 12)); }
  .col-xs-1 {
    width: calc(100% * (1 / 12)); }
  [class*='offset-'] {
    margin-left: 0; } }

@media (min-width: 480px) {
  .container {
    width: 480px; }
  .hidden-xs {
    display: none; }
  .col-xs-12 {
    width: calc(100% * (12 / 12)); }
  .col-xs-11 {
    width: calc(100% * (11 / 12)); }
  .col-xs-10 {
    width: calc(100% * (10 / 12)); }
  .col-xs-9 {
    width: calc(100% * (9 / 12)); }
  .col-xs-8 {
    width: calc(100% * (8 / 12)); }
  .col-xs-7 {
    width: calc(100% * (7 / 12)); }
  .col-xs-6 {
    width: calc(100% * (6 / 12)); }
  .col-xs-5 {
    width: calc(100% * (5 / 12)); }
  .col-xs-4 {
    width: calc(100% * (4 / 12)); }
  .col-xs-3 {
    width: calc(100% * (3 / 12)); }
  .col-xs-2 {
    width: calc(100% * (2 / 12)); }
  .col-xs-1 {
    width: calc(100% * (1 / 12)); }
  .offset-xs-12 {
    margin-left: calc(100% * (12 / 12)); }
  .offset-xs-11 {
    margin-left: calc(100% * (11 / 12)); }
  .offset-xs-10 {
    margin-left: calc(100% * (10 / 12)); }
  .offset-xs-9 {
    margin-left: calc(100% * (9 / 12)); }
  .offset-xs-8 {
    margin-left: calc(100% * (8 / 12)); }
  .offset-xs-7 {
    margin-left: calc(100% * (7 / 12)); }
  .offset-xs-6 {
    margin-left: calc(100% * (6 / 12)); }
  .offset-xs-5 {
    margin-left: calc(100% * (5 / 12)); }
  .offset-xs-4 {
    margin-left: calc(100% * (4 / 12)); }
  .offset-xs-3 {
    margin-left: calc(100% * (3 / 12)); }
  .offset-xs-2 {
    margin-left: calc(100% * (2 / 12)); }
  .offset-xs-1 {
    margin-left: calc(100% * (1 / 12)); }
  .offset-xs-0 {
    margin-left: calc(100% * (0 / 12)); } }

@media (min-width: 768px) {
  .container {
    width: 768px; }
  .hidden-sm {
    display: none; }
  .col-sm-12 {
    width: calc(100% * (12 / 12)); }
  .col-sm-11 {
    width: calc(100% * (11 / 12)); }
  .col-sm-10 {
    width: calc(100% * (10 / 12)); }
  .col-sm-9 {
    width: calc(100% * (9 / 12)); }
  .col-sm-8 {
    width: calc(100% * (8 / 12)); }
  .col-sm-7 {
    width: calc(100% * (7 / 12)); }
  .col-sm-6 {
    width: calc(100% * (6 / 12)); }
  .col-sm-5 {
    width: calc(100% * (5 / 12)); }
  .col-sm-4 {
    width: calc(100% * (4 / 12)); }
  .col-sm-3 {
    width: calc(100% * (3 / 12)); }
  .col-sm-2 {
    width: calc(100% * (2 / 12)); }
  .col-sm-1 {
    width: calc(100% * (1 / 12)); }
  .offset-sm-12 {
    margin-left: calc(100% * (12 / 12)); }
  .offset-sm-11 {
    margin-left: calc(100% * (11 / 12)); }
  .offset-sm-10 {
    margin-left: calc(100% * (10 / 12)); }
  .offset-sm-9 {
    margin-left: calc(100% * (9 / 12)); }
  .offset-sm-8 {
    margin-left: calc(100% * (8 / 12)); }
  .offset-sm-7 {
    margin-left: calc(100% * (7 / 12)); }
  .offset-sm-6 {
    margin-left: calc(100% * (6 / 12)); }
  .offset-sm-5 {
    margin-left: calc(100% * (5 / 12)); }
  .offset-sm-4 {
    margin-left: calc(100% * (4 / 12)); }
  .offset-sm-3 {
    margin-left: calc(100% * (3 / 12)); }
  .offset-sm-2 {
    margin-left: calc(100% * (2 / 12)); }
  .offset-sm-1 {
    margin-left: calc(100% * (1 / 12)); }
  .offset-sm-0 {
    margin-left: calc(100% * (0 / 12)); } }

@media (min-width: 992px) {
  .container {
    width: 992px; }
  .hidden-md {
    display: none; }
  .col-md-12 {
    width: calc(100% * (12 / 12)); }
  .col-md-11 {
    width: calc(100% * (11 / 12)); }
  .col-md-10 {
    width: calc(100% * (10 / 12)); }
  .col-md-9 {
    width: calc(100% * (9 / 12)); }
  .col-md-8 {
    width: calc(100% * (8 / 12)); }
  .col-md-7 {
    width: calc(100% * (7 / 12)); }
  .col-md-6 {
    width: calc(100% * (6 / 12)); }
  .col-md-5 {
    width: calc(100% * (5 / 12)); }
  .col-md-4 {
    width: calc(100% * (4 / 12)); }
  .col-md-3 {
    width: calc(100% * (3 / 12)); }
  .col-md-2 {
    width: calc(100% * (2 / 12)); }
  .col-md-1 {
    width: calc(100% * (1 / 12)); }
  .offset-md-12 {
    margin-left: calc(100% * (12 / 12)); }
  .offset-md-11 {
    margin-left: calc(100% * (11 / 12)); }
  .offset-md-10 {
    margin-left: calc(100% * (10 / 12)); }
  .offset-md-9 {
    margin-left: calc(100% * (9 / 12)); }
  .offset-md-8 {
    margin-left: calc(100% * (8 / 12)); }
  .offset-md-7 {
    margin-left: calc(100% * (7 / 12)); }
  .offset-md-6 {
    margin-left: calc(100% * (6 / 12)); }
  .offset-md-5 {
    margin-left: calc(100% * (5 / 12)); }
  .offset-md-4 {
    margin-left: calc(100% * (4 / 12)); }
  .offset-md-3 {
    margin-left: calc(100% * (3 / 12)); }
  .offset-md-2 {
    margin-left: calc(100% * (2 / 12)); }
  .offset-md-1 {
    margin-left: calc(100% * (1 / 12)); }
  .offset-md-0 {
    margin-left: calc(100% * (0 / 12)); } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; }
  .hidden-lg {
    display: none; }
  .col-lg-12 {
    width: calc(100% * (12 / 12)); }
  .col-lg-11 {
    width: calc(100% * (11 / 12)); }
  .col-lg-10 {
    width: calc(100% * (10 / 12)); }
  .col-lg-9 {
    width: calc(100% * (9 / 12)); }
  .col-lg-8 {
    width: calc(100% * (8 / 12)); }
  .col-lg-7 {
    width: calc(100% * (7 / 12)); }
  .col-lg-6 {
    width: calc(100% * (6 / 12)); }
  .col-lg-5 {
    width: calc(100% * (5 / 12)); }
  .col-lg-4 {
    width: calc(100% * (4 / 12)); }
  .col-lg-3 {
    width: calc(100% * (3 / 12)); }
  .col-lg-2 {
    width: calc(100% * (2 / 12)); }
  .col-lg-1 {
    width: calc(100% * (1 / 12)); }
  .offset-lg-12 {
    margin-left: calc(100% * (12 / 12)); }
  .offset-lg-11 {
    margin-left: calc(100% * (11 / 12)); }
  .offset-lg-10 {
    margin-left: calc(100% * (10 / 12)); }
  .offset-lg-9 {
    margin-left: calc(100% * (9 / 12)); }
  .offset-lg-8 {
    margin-left: calc(100% * (8 / 12)); }
  .offset-lg-7 {
    margin-left: calc(100% * (7 / 12)); }
  .offset-lg-6 {
    margin-left: calc(100% * (6 / 12)); }
  .offset-lg-5 {
    margin-left: calc(100% * (5 / 12)); }
  .offset-lg-4 {
    margin-left: calc(100% * (4 / 12)); }
  .offset-lg-3 {
    margin-left: calc(100% * (3 / 12)); }
  .offset-lg-2 {
    margin-left: calc(100% * (2 / 12)); }
  .offset-lg-1 {
    margin-left: calc(100% * (1 / 12)); }
  .offset-lg-0 {
    margin-left: calc(100% * (0 / 12)); } }

.page body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #181818;
  color: #fbfbfb; }

.page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.page__content {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  position: relative; }

.page__footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.page__title {
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase; }
  .page__title__title--warning {
    color: #d5303a; }

.page__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 35px;
  padding-left: 10px;
  padding-right: 10px; }
  .header__link {
    text-decoration: none;
    color: #fbfbfb; }
  .header__title {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px; }
    .header__title span {
      display: block;
      font-size: 25px;
      text-transform: uppercase; }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    width: 20px;
    height: 10px;
    cursor: pointer; }
    .header__burger-line {
      width: 100%;
      height: 1px;
      background-color: #bbb; }
    @media (min-width: 768px) {
      .header__burger {
        display: none; } }

.main-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #181818; }
  .main-nav--mobile-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media (min-width: 768px) {
    .main-nav {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      position: static;
      background: none;
      width: auto;
      height: auto;
      margin: 0; } }
  .main-nav__close-btn {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 35px 42px 55px auto; }
    .main-nav__close-btn:before, .main-nav__close-btn:after {
      content: ' ';
      position: absolute;
      left: 12.5px;
      height: 35px;
      width: 2px;
      background-color: #d5303a; }
    .main-nav__close-btn:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .main-nav__close-btn:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    @media (min-width: 768px) {
      .main-nav__close-btn {
        display: none; } }
  .main-nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5; }
    @media (min-width: 768px) {
      .main-nav__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }
  .main-nav__item {
    margin-bottom: 35px;
    margin-left: 30px;
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 41px;
    color: #fbfbfb;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .main-nav__item {
        margin-right: 30px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 25px; } }
  .main-nav__link {
    text-decoration: none;
    color: #fbfbfb; }
    .main-nav__link:visited {
      color: #fbfbfb;
      text-decoration: none; }

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 40px;
  list-style: none; }
  .social-links__item {
    margin-right: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 13px; }
  .social-links__link {
    color: #fbfbfb;
    text-decoration: none; }
    .social-links__link:visited {
      color: #fbfbfb;
      text-decoration: none; }
  @media (min-width: 768px) {
    .social-links--menu {
      display: none; } }

.intro__img-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 900px; }
  .intro__img-wrap:before {
    content: '';
    display: 'block';
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    opacity: 0.1;
    overflow: hidden; }
  .intro__img-wrap img {
    -o-object-fit: cover;
       object-fit: cover; }

.footer {
  margin-bottom: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 15px; }
  .footer span {
    font-weight: 600; }
  @media (min-width: 768px) {
    .footer {
      margin-bottom: 50px;
      font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
