.button {
  display: inline-flex;
  // align-self: center;
  margin: 0;
  padding: 7px 20px 13px 20px;
  border: 1px solid $text-color;
  border-radius: 3px;
  color: $text-color;
  font-family: $font-family-cond;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border-color: $gray-medium;
    color: $gray-medium;
  }

  &:visited {

  }

  &--const {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 4px 10px 7px 10px;

    @media(min-width: $screen-xs) {
      display: inline-flex;
      width: auto;
      font-size: 25px;
    }

    @media(min-width: $screen-sm) {
      font-size: 25px;
    }

    @media(min-width: $screen-md) {
      font-size: 25px;
    }

    @media(min-width: $screen-lg) {
      font-size: 30px;
    }
  }

  &-collapse-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-collapse {
    position: relative;
    display: inline-block;
    right: 0;
    margin: 25px auto;
    padding-left: 26px;
    // font-size: 16px;
    font-size: 10px;
    font-weight: 600;
    color: $gray-medium;
    cursor: pointer;

    @media (min-width: $screen-md) {
      font-size: 14px;
    }

    @media (min-width: $screen-lg) {
      font-size: 14px;
    }

    &:before {
      @include pseudo;
      @extend .sprite-up;
      top: 2px;
      left: 0;
      transform: scale(0.75);

      @media (min-width: $screen-md) {
        top: 4px;
        transform: scale(1);
      }
    }

    &:hover {
      color: $text-color;
    }
  }
}