.button {
  display: inline-flex;
  border: 1px solid $text-color;
  margin: 0;
  padding: 7px 20px 13px;
  border-radius: 3px;
  color: $text-color;
  font-family: $font-family-cond;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border-color: $gray-medium;
    color: $gray-medium;
  }

  &--const {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 4px 10px 7px 10px;
  }

  &-collapse-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-collapse {
    position: relative;
    display: inline-block;
    right: 0;
    margin: 25px auto;
    padding-left: 26px;
    font-size: 10px;
    font-weight: 600;
    color: $gray-medium;
    cursor: pointer;

    &:before {
      @include pseudo;
      @extend .sprite-up;
      top: 2px;
      left: 0;
      transform: scale(0.75);
    }

    &:hover {
      color: $text-color;
    }
  }
}

@media screen and (min-width: $screen-xs) {
  .button {
    display: inline-flex;
    width: 100%;
    font-size: 25px;
  }
}

@media screen and (min-width: $screen-sm) {
  .button {
    font-size: 25px;
  }
}

@media screen and (min-width: $screen-md) {
  .button {
    width: auto;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;

    &::before {
      top: 4px;
      transform: scale(1);
    }

    &-collapse {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .button {
    font-size: 30px;

    &-collapse {
      font-size: 14px;
    }
  }
}
