.footer {
  order: 2;
  margin-top: 20px;
  margin-bottom: 40px;
  /* stylelint-ignore-next-line order */
  @include ff-OpenSans(400, 8px, 15px);

  span {
    font-weight: 600;
  }

  @media (min-width: $screen-sm) {
    order: 1;
    margin-bottom: 50px;
    font-size: 10px;
  }

  @media (min-width: $screen-sm) {
    order: 1;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 15px;
  }
}
