.news {
  margin-top: 75px;
  overflow: hidden;

  &__gallery {
    margin-top: 45px;
    margin-bottom: 100px;
    overflow: hidden;
  }

  &__link {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $gray-medium;
    }
  }

  &__slide-wrap {
    position: relative;
    width: 243px;
    height: 356px;
    margin-right: 20px;
    overflow: hidden;

    &::before {
      content: '';
      display: none;
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    img {
      width: auto;
      height: 100%;
    }
  }

  &__slide-caption {
    position: absolute;
    z-index: 2;
    top: 270px;
    left: 27px;
    max-width: 207px;
    max-height: 70px;
    margin: 0;
    color: $text-color;
    @include ff-OpenSans(600, 14px, 18px);
    text-decoration: none;

    &:hover {
      color: $gray-medium;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .news {
    margin-top: 160px;

    &__slide-wrap {
      width: 280px;
      height: 370px;
    }

    &__slide-caption {
      max-width: 235px;
      max-height: 80px;
      font-size: 18px;
      line-height: 23px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .news {
    margin-top: 220px;

    &__slide-wrap {
      width: 367px;
      height: 493px;
      margin-right: 12px;
    }

    &__slide-caption {
      top: 403px;
      left: 20px;
      max-width: 330px;
      max-height: 80px;
      font-size: 20px;
      line-height: 26px;
    }
  }
}
