.page {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: $font-family;
    background-color: $gray-dark;
    color: $text-color;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 5;
    position: relative;
  }

  &__footer-wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__title {
    @include ff-OpenSansCondenced(300, 18px, 23px);
    text-transform: uppercase;
    letter-spacing: 0.4px;

    &--warning {
      color: $warning-color;
    }

    @media(min-width: $screen-md) {
      font-size: 30px;
      line-height: 42px;
    }

    @media(min-width: $screen-lg) {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @include ff-OpenSans(400, 10px, 15px);
    letter-spacing: 0.3px;

    @media(min-width: $screen-md) {
      font-size: 14px;
      line-height: 19px;
    }

    @media(min-width: $screen-lg) {
      font-size: 16px;
      line-height: 25px;
    }

    &--padding-left {

      @media(min-width: $screen-md) {
        padding-left: 40px;
      }

      @media(min-width: $screen-lg) {
        padding-left: 25px;
      }
    }
  }
}
