.page {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: $font-family;
    background-color: $gray-dark;
    color: $text-color;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 5;
    position: relative;
  }

  &__footer-wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__title {
    @include ff-OpenSansCondenced(300, 18px, 23px);
    text-transform: uppercase;
    letter-spacing: 0.4px;

    &--warning {
      color: $warning-color;
    }
  }

  &__subtitle {
    margin-top: 75px;
    margin-bottom: 45px;
    @include ff-OpenSansCondenced(300, 18px, 23px);
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }

  &__text {
    margin-bottom: 30px;
    @include ff-OpenSans(400, 14px, 18px);
    letter-spacing: 0.3px;
  }

  &__ill-wrap {
    max-width: 100%;
    margin-top: 30px;
    @include img-wrap(100%, 'auto');
  }

  &__ill-caption {
    margin-top: 5px;
    margin-bottom: 40px;
    @include ff-OpenSans(400, 10px, 13px);
  }

  &__video-wrap {
    position: relative;
    max-width: 100%;
    margin-bottom: 80px;
    padding-bottom: 50.43%;
    padding-top: 0;
    height: 0;
    overflow: hidden;

    &--main {
      padding-bottom: 40%;
    }

    &--01 {
      padding-bottom: 37.5%;
    }

    &--02 {
      padding-bottom: 40.625%;
    }

    &--03 {
      padding-bottom: 55%;
    }

    &--04 {
      padding-bottom: 36.875%;
    }

    &--05 {
      padding-bottom: 40.625%;
    }

    &--06 {
      padding-bottom: 41.25%;
    }

    &--07 {
      padding-bottom: 41.25%;
    }

    &--08 {
      padding-bottom: 40.625%;
    }

    &--chrome {
      padding-bottom: 55%;
    }

    &--yt {
      padding-bottom: 0.585%;
    }

    & iframe,
    & object,
    & embed,
    & video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .page {
    &__title {
      font-size: 30px;
      line-height: 42px;
    }

    &__subtitle {
      margin-top: 100px;
      margin-bottom: 70px;
      @include ff-OpenSansCondenced(300, 30px, 42px);
    }

    &__text {
      font-size: 14px;
      line-height: 19px;

      &__ill-caption {
        margin-bottom: 55px;
      }

      &--padding-left {
        padding-left: 40px;
      }

      &[id='About'] {
        padding-top: 25px;
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .page {
    &__title {
      font-size: 32px;
      line-height: 42px;
    }

    &__subtitle {
      margin-top: 125px;
      margin-bottom: 80px;
    }

    &__text {
      font-size: 16px;
      line-height: 25px;

      &__ill-caption {
        margin-bottom: 40px;
        @include ff-OpenSans(400, 12px, 18px);
      }

      &--padding-left {
        padding-left: 25px;
      }
    }
  }
}
