.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $gray-dark;

  .header__title {
    z-index: 12;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__content {
    position: relative;
  }

  &__widget {
    &-wrap {
      position: absolute;
      z-index: 1;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      width: 100px;
      height: 100px;
    }

    &-first,
    &-second,
    &-third {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: 1s linear infinite;
    }

    &-first {
      border-bottom: 2px solid $gray-medium;
      animation-name: first;
    }

    &-second {
      border-right: 2px solid $main-color;
      animation-name: second;
    }

    &-third {
      border-top: 2px solid $warning-color;
      animation-name: third;
    }
  }

  &--disappear {
    animation: hide 1.4s linear infinite;
  }
}

@keyframes first {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes second {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes third {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
