.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 20px;
  order: 1;

  &__item {
    margin-right: 24px;
    @include ff-OpenSans(300, 10px, 13px);

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    color: $text-color;
    text-decoration: none;

    &:visited {
      color: $text-color;
      text-decoration: none;
    }
  }

  &--menu {
    margin-left: 30px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: $screen-sm) {
  .social-links {
    justify-content: center;
    order: 2;

    &--menu {
      display: none;
    }
  }
}
