.tab {


  &__film-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media(min-width: $screen-md) {
      align-items: flex-end;
      margin-top: 115px;
      padding-right: 15px;
    }
  }

  &__film-year {
    display: inline-flex;
    order: 1;
    margin-top: 25px;
    color: $warning-color;
    font-weight: 600;

    @media(min-width: $screen-md) {
      order: 2;
      margin: 0;
    }
  }

  &__film-title {
    display: inline-flex;
    order: 2;
    margin-bottom: 50px;

    @media(min-width: $screen-md) {
      margin: 0;
      order: 1;
      text-align: right;
      font-size: 38px;
      line-height: 38px;

    }
  }

  &__credits {
    margin-bottom: 75px;

    @media(min-width: $screen-md) {
      margin-top: 90px;
    }
  }

  &__credit-role {
    margin-top: 30px;
    margin-bottom: 5px;
    @include ff-OpenSansCondenced(400, 10px, 15px);
    letter-spacing: 0.4px;

    @media(min-width: $screen-md) {

    }

    @media(min-width: $screen-lg) {
      @include ff-OpenSansCondenced(400, 12px, 16px);
    }
  }

  &__credit-pers {
    @include ff-OpenSansCondenced(600, 12px, 15px);
    letter-spacing: 0.4px;

    @media(min-width: $screen-md) {
      @include ff-OpenSansCondenced(600, 14px, 18px);
    }

    @media(min-width: $screen-lg) {
      @include ff-OpenSansCondenced(600, 16px, 25px);
    }
}

  &__film-nums {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;

    @media(min-width: $screen-md) {
      align-self: stretch;
      align-items: flex-end;
      height: 100%;
      margin: 0;
    }
  }

  &__film-views {
    display: block;

    &-num {
      margin: 0;
      @include ff-OpenSansCondenced(600, 70px, 95px);
      text-transform: uppercase;

      @media(min-width: $screen-md) {
        @include ff-OpenSansCondenced(600, 85px, 128px);
      }

      @media(min-width: $screen-lg) {
        @include ff-OpenSansCondenced(600, 120px, 170px);
      }
    }
    &-descr {
      margin-top: -15px;
      @include ff-OpenSansCondenced(600, 17px, 23px);
      text-transform: uppercase;

      @media(min-width: $screen-md) {
        @include ff-OpenSansCondenced(600, 20px, 28px);
      }

      @media(min-width: $screen-lg) {
        @include ff-OpenSansCondenced(600, 30px, 34px);
      }
    }
  }

  &__film-facts {

    @media (min-width: $screen-md) {
      margin-bottom: 70px;
    }
  }

  &__film-rating {
    display: block;

    &-num {
      display: inline-block;
      margin: 0;
      @include ff-OpenSansCondenced(600, 70px, 95px);
      text-transform: uppercase;

      @media(min-width: $screen-md) {
        @include ff-OpenSansCondenced(600, 94px, 128px);
      }

      @media(min-width: $screen-lg) {
        @include ff-OpenSansCondenced(600, 125px, 170px);
      }
    }
    &-descr {
      display: inline-block;
      @include ff-OpenSansCondenced(600, 40px, 27px);
      text-transform: uppercase;

      @media(min-width: $screen-md) {
        @include ff-OpenSansCondenced(600, 55px, 35px);
      }

      @media(min-width: $screen-lg) {
        @include ff-OpenSansCondenced(600, 70px, 65px);
      }

      span {
        display: block;
        padding-left: 3px;
        @include ff-OpenSansCondenced(600, 17px, 27px);

        @media(min-width: $screen-md) {
          @include ff-OpenSansCondenced(600, 22px, 35px);
        }

        @media(min-width: $screen-lg) {
          @include ff-OpenSansCondenced(600, 30px, 35px);
        }
      }
    }
  }

  &__mayak-cadr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      margin-bottom: 50px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}