.tab {
  &__film-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__film-year {
    display: inline-flex;
    order: 1;
    margin-top: 25px;
    color: $warning-color;
    font-weight: 600;
  }

  &__film-title {
    display: inline-flex;
    order: 2;
    margin-bottom: 50px;
  }

  &__credits {
    margin-bottom: 55px;
  }

  &__credit-role {
    margin-top: 30px;
    margin-bottom: 5px;
    @include ff-OpenSans(400, 10px, 15px);
    letter-spacing: 0.4px;
  }

  &__credit-pers {
    @include ff-OpenSansCondenced(600, 12px, 15px);
    letter-spacing: 0.4px;
  }

  &__film-nums {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__film-views {
    display: block;

    &-num {
      margin: 0;
      @include ff-OpenSansCondenced(600, 70px, 95px);
      text-transform: uppercase;
    }

    &-descr {
      margin-top: -15px;
      @include ff-OpenSansCondenced(600, 17px, 23px);
      text-transform: uppercase;
    }
  }

  &__film-rating {
    display: block;

    &-num {
      display: inline-block;
      margin: 0;
      @include ff-OpenSansCondenced(600, 70px, 95px);
      text-transform: uppercase;
    }

    &-descr {
      display: inline-block;
      @include ff-OpenSansCondenced(600, 40px, 27px);
      text-transform: uppercase;

      span {
        display: block;
        padding-left: 3px;
        @include ff-OpenSansCondenced(600, 17px, 27px);
      }
    }
  }

  &__mayak-cadr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &-item {
      margin-bottom: 50px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: $screen-md) {
  .tab {
    &__film-head {
      align-items: flex-end;
      margin-top: 55px;
      padding-right: 15px;
    }

    &__film-year {
      order: 2;
      margin: 0;
    }

    &__film-title {
      order: 1;
      margin: 0;
      text-align: right;
      font-size: 38px;
      line-height: 38px;
    }

    &__credits {
      margin-top: 28px;
      margin-bottom: 110px;
    }

    &__credit-pers {
      @include ff-OpenSansCondenced(600, 14px, 18px);
    }

    &__film-nums {
      align-items: flex-end;
      align-self: stretch;
      height: 100%;
      margin: 0;
    }

    &__film-views-num {
      @include ff-OpenSansCondenced(600, 85px, 128px);
    }

    &__film-views-descr {
      @include ff-OpenSansCondenced(600, 20px, 28px);
    }

    &__film-facts {
      margin-bottom: 70px;
    }

    &__film-rating-num {
      @include ff-OpenSansCondenced(600, 94px, 128px);
    }

    &__film-rating-descr {
      @include ff-OpenSansCondenced(600, 55px, 35px);

      & span {
        @include ff-OpenSansCondenced(600, 22px, 35px);
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .tab {
    &__credit-role {
      @include ff-OpenSans(400, 12px, 16px);
    }

    &__credit-pers {
      @include ff-OpenSansCondenced(600, 16px, 25px);
    }

    &__film-views-num {
      @include ff-OpenSansCondenced(600, 120px, 170px);
    }

    &__film-views-descr {
      @include ff-OpenSansCondenced(600, 28px, 34px);
    }

    &__film-rating-num {
      @include ff-OpenSansCondenced(600, 125px, 170px);
    }

    &__film-rating-descr {
      @include ff-OpenSansCondenced(600, 70px, 65px);

      & span {
        @include ff-OpenSansCondenced(600, 30px, 35px);
      }
    }
  }
}
