.upbtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9000;
  text-align: center;
  line-height: 30px;
  color: $text-color;

  text-shadow: 2px 2px 5px #000;
  cursor: pointer;
  animation: fadeOutRight 0.5s;

  &:hover {
    opacity: 0.75;
  }

  &::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 9px;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    background-image: url(../img/up.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--show {
    display: block;
    animation: fadeInRight 0.5s;
  }
}
