.video {
  width: 100%;

  &__hidden {
    visibility: hidden;
  }

  &__wrap {
    position: relative;
    max-width: 100%;
    margin-bottom: 80px;
    padding-bottom: 40%;
    padding-top: 0;
    height: 0;
    overflow: hidden;

    &--main {
      padding-bottom: 40%;
    }

    &--01 {
      padding-bottom: 37.5%;
    }

    &--02 {
      padding-bottom: 40.625%;
    }

    &--03 {
      padding-bottom: 55%;
    }

    &--04 {
      padding-bottom: 36.875%;
    }

    &--05 {
      padding-bottom: 40.625%;
    }

    &--06 {
      padding-bottom: 41.25%;
    }

    &--07 {
      padding-bottom: 41.25%;
    }

    &--08 {
      padding-bottom: 40.625%;
    }

    &--chrom {
      padding-bottom: 55%;
    }
  }

  & iframe,
  & object,
  & embed,
  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: 40;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      width: 50px;
      height: 50px;
      margin: 0;
      background: transparent;
      border-top: 4px solid $text-color;
      border-right: 4px solid transparent;
      border-radius: 50%;
      animation: 1s spin linear infinite;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
