-
  //- let siteRoot = '/';
  let siteRoot = 'https://alienamigo.github.io/Besedin/';

  let arrayNav = [
    {
      text: 'О режиссёре',
      url: '#About'
    },
    {
      text: 'Проекты',
      url: '#Projects'
    },
    {
      text: 'Контакты',
      url: '#Contacts'
    },
  ];

  let arraySocialLinks = [
    {
      title: 'Vimeo',
      class: 'sprite-vimeo-icon',
      url: 'https://vimeo.com/vladimirbesedin'
    },
    {
      title: 'Instagram',
      class: 'sprite-instagram-icon',
      url: 'http://www.instagram.com/vovabesedin'
    },
    //- {
    //-   title: 'Vkontakte',
    //-   url: 'https://vk.com/vladimirbesedin'
    //- },
  ];

  let newsSlider = [
    {
      title: 'Съёмки комедийного боевика с Юрием Колокольниковым',
      img: '/img/news_01.png',
      link: '#'
    },
    {
      title: 'Мастер-класс на Кинорынке',
      img: '/img/news_02.png',
      link: '#'
    },
    {
      title: 'Презентация фильма',
      img: '/img/news_03.png',
      link: '#'
    },
    {
      title: 'Съёмка',
      img: '/img/news_04.png',
      link: '#'
    },
  ];

  let arrayTabs = [
    {
      title: 'Фильмы',
      id: 'label-films'
    },
    {
      title: 'Клипы',
      id: 'label-clips'
    }
  ];

  let arrayFilms = [
    {
      title: 'Фильм «Майор Гром»',
      id: 'film-grom',
      img: 'img/tab_Grom.png',
      pug: 'tab-grom.pug'
    },
    {
      title: 'Тизер «Майор гром: чумной доктор»',
      id: 'film-doc',
      img: 'img/tab_Doc.png',
      pug: 'tab-grom.pug'
    },
  ];
