-
  let siteRoot = '/';
  //- let siteRoot = 'https://alienamigo.github.io/Besedin/';

  let arrayNav = [
    {
      text: 'О режиссёре',
      url: '#About'
    },
    {
      text: 'Проекты',
      url: '#Projects'
    },
    {
      text: 'Контакты',
      url: '#Contacts'
    },
  ];

  let arraySocialLinks = [
    {
      title: 'Vimeo',
      class: 'sprite-vimeo-icon',
      url: 'https://vimeo.com/vladimirbesedin'
    },
    {
      title: 'Instagram',
      class: 'sprite-instagram-icon',
      url: 'http://www.instagram.com/vovabesedin'
    },
    //- {
    //-   title: 'Vkontakte',
    //-   url: 'https://vk.com/vladimirbesedin'
    //- },
  ];