-
  let arrayNav = [
    {
      text: 'О режиссёре',
      url: '#About'
    },
    {
      text: 'Проекты',
      url: '#Projects'
    },
    {
      text: 'Контакты',
      url: '#Contacts'
    },
  ];

  let arraySocialLinks = [
    {
      title: 'Instagram',
      url: 'http://www.instagram.com/vovabesedin'
    },
    {
      title: 'Vkontakte',
      url: 'https://vk.com/vladimirbesedin'
    },
    {
      title: 'Vimeo',
      url: 'https://vimeo.com/vladimirbesedin'
    },
  ];