.page__video-wrap
  iframe(src="https://www.youtube.com/embed/N5kvQa7EJ68?controls=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope", allowfullscreen)

.tab__film-info
  .row
    .tab__film-head.col-xs-12.col-sm-12.col-md-8
      .tab__film-year 2017
      h3.page__title.tab__film-title #[span.hidden-md.hidden-lg Фильм «]Майор Гром#[span.hidden-md.hidden-lg »]

    .tab__credits.col-xs-12.col-sm-12.col-md-4
      p.tab__credit-role Режиссёр
      p.tab__credit-pers Владимир Беседин
      p.tab__credit-role Оператор
      p.tab__credit-pers Арсений Кан
      p.tab__credit-role Композитор
      p.tab__credit-pers Роман Селивёрстов
      p.tab__credit-role Художники
      p.tab__credit-pers Алексей Шарамет, Олеся Вавилова
      p.tab__credit-role Монтаж
      p.tab__credit-pers Александр Булыгин
.row
  .col-xs-12.col-sm-12.col-md-8
    p.page__text В 2015 году вместе с Артемом Габреляновым с нуля создал киностудию «BUBBLE Studios». Собрал команду единомышленников с горящими глазами, которую объединяет уверенность в том, что в России можно снимать качественное развлекательное кино. Первой экранизацией стал популярный комикс «Майор Гром».
    h3.page__subtitle Маркетинг и продвижение
    p.page__text В качестве продюсера принимал участие в продвижении фильма. Были созданы тизеры, трейлеры, постеры, мерч, рекламные ролики и множество других материалов.

.tab__film-facts
  .row
    .col-xs-12.col-sm-12.col-md-7.col-lg-7
      .page__ill-wrap
        img(src='img/grom_poster.png', alt='')
    .col-xs-12.col-sm-12.col-md-4.offset-md-1.offset-lg-1.col-md-4.col-lg-4
      .tab__film-nums
        .tab__film-views
          .tab__film-views-num 6 млн
          .tab__film-views-descr просмотров в интернете#[br] за первый месяц
        .tab__film-rating
          .tab__film-rating-num 6,9
          .tab__film-rating-descr #[span рейтинг]imdb

.row
  .col-xs-12.col-sm-12.col-md-8
    p.page__text Также презентация фильма прошла на&nbsp;Первом канале в шоу «Вечерний Ургант» и «Comic Con» в Сан-Диего и &nbsp;Нью-Йорке.
  .col-xs-12.col-sm-12.col-md-8
    .page__ill-wrap
      img(src='img/grom_01.png', alt='')
    .page__ill-caption Владимир Беседин и Артём Габрелянов на шоу «Вечерний Ургант»
  .col-xs-12.col-sm-12.offset-xs-2.offset-sm-2.col-md-4.col-lg-4
    .page__ill-wrap
      a.button.button--const(href='https://youtu.be/KO9LzXWbnBQ', target='_blank') Смотреть на YouTube
  .col-xs-12.col-sm-12.col-md-8
    .page__ill-wrap
      img(src='img/grom_02.png', alt='')
    .page__ill-caption Владимир Беседин, Артём Габрелянов и&nbsp;Роман Котков на&nbsp;фестивале «Comic Con» в&nbsp;Сан-Диего
  .col-sm-12.col-xs-12.col-md-8
    p.page__text Один из самых успешных голливудских режиссеров и&nbsp;продюсеров Бретт Ратнер («Час Пик», «Люди Икс») в&nbsp;режиссерском подходе Владимира увидел молодого себя. Его впечатлили зрелищность экшн-сцен в&nbsp;фильме «Майор Гром, юмор, изобретательный стиль съемки. Он&nbsp;отметил, что Владимир прекрасно чувствует жанр и&nbsp;имеет огромный потенциал как режиссер развлекательного кино.
    p.page__subtitle Работа над фильмом
    p.page__text В&nbsp;процессе работы над фильмом возникла идея необычно и&nbsp;по-новому снять экшн-сцены, чтобы дать им необходимый темп, но&nbsp;для этого не&nbsp;подходила стандартная операторская техника. Владимиром Бесединым была придумана технология съёмки «360&nbsp;градусов»&nbsp;— «Карусель», которую помог реализовать оператор и&nbsp;инженер Сергей Астахов («Брат», «Брат&nbsp;2»). С&nbsp;помощью неё одним кадром была полностью снята боевая хореография.
  .col-xs-12.col-sm-12.col-md-8
    .page__ill-wrap
      img(src='img/grom_03.png', alt='')
    .page__ill-caption Сергей Астахов и Владимир Беседин в процессе разработки механизма «360 градусов»
    .page__ill-wrap
      img(src='img/grom_04.png', alt='')
    .page__ill-caption Владимир Беседин и инженеры проекта «Майор Гром» в процессе разработки механизма «360 градусов»

  .col-xs-12
    .page__video-wrap.page__video-wrap--03
        video(class='video', autoplay='1', loop='1', width='640', preload='none', control)
          source(src='video/03.webm', type='video/webm')
  .col-xs-12
    .page__video-wrap.page__video-wrap--04
        video(class='video', autoplay='1', loop='1', width='640', preload='none', control)
          source(src='video/04.webm', type='video/webm')

.row
  .col-xs-12.col-sm-12.col-md-8
    p.page__subtitle Музыка к фильму
    p.page__text Для Владимира Беседина важна не только техническая сторона создания фильма, но и&nbsp;музыкальная. Вместе с&nbsp;композитором Романом Селивёрстовым и&nbsp;продюсером Red Hot Chilly Pepers&nbsp;— Райаном Хьюиттом было записано и спродюсированно несколько оригинальных треков. Записью саундтреков занималась огромная команда из Великобритании, США и России. Оркестр был записан на одной из легендарных студий мира «AbbeyRoadStudioOne».
    p.page__text На студии «Blackbird Studio» в Нешвилле специально для фильма было записано два абсолютно разных трека. Для записи были использованы инструменты и оборудование 60-х годов, чтобы получить аутентичное звучание.
    .page__ill-wrap
      img(src='img/grom_05.png')
    .page__ill-caption Оркестр «Abbey Roads» в процессе записи саундтреков к проектам «Майор Гром» и «Майор Гром: Чумной Доктор»
    .page__ill-wrap
      img(src='img/grom_06.png')
    .page__ill-caption Владимир Беседин и Роман Селивёрстов  в процессе записи саундтреков к проектам «Майор Гром» и «Майор Гром: Чумной Доктор»
    .page__ill-wrap
      img(src='img/grom_07.png')
    .page__ill-caption Владимир Беседин и команда «BlackBird Studio» в процессе создания саундтреков к проектам «Майор Гром» и «Майор Гром: Чумной Доктор»
.row
  .col-xs-10.offset-xs-1.col-sm-10.offset-sm-1.col-md-6.col-lg-6
    .page__video-wrap
      //- img(src='img/block_song_1.png', alt='')
      iframe(width="560", height="315", src="https://www.youtube-nocookie.com/embed/8ZyUD-B4qRY?controls=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope", allowfullscreen)
  .col-xs-10.offset-xs-1.col-sm-10.offset-sm-1.col-md-6.col-lg-6
    .page__video-wrap
      //- img(src='img/block_song_2.png', alt='')
      iframe(width="560", height="315", src="https://www.youtube-nocookie.com/embed/ZDgddfwPrn4?controls=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope", allowfullscreen)

.row
  .col-xs-12.col-sm-12.col-md-8
    p.page__subtitle Декорации
    p.page__text Специально для фильма созданы разнообразные декорации. Был разработан дизйн помещения банка от интерьера до корпоративного стиля, где расположились настоящие стойки, люстры, кабинеты, банкоматы и трехэтажное денежное хранилище.
    .page__ill-wrap
      img(src='img/grom_08.png')
    .page__ill-caption
    .page__ill-wrap
      img(src='img/grom_09.png')
    .page__ill-caption
    p.page__text Для того чтобы передать атмосферу заброшенного отеля, где проходила часть съёмок, была изготовлена пятиметровая статуя Посейдона, которая отлично вписалась в интерьер.
    .page__ill-wrap
      img(src='img/grom_10.png')
    .page__ill-caption

  .button-collapse-wrap.col-xs-12
    .button-collapse Свернуть
