.page__video-wrap
  //- img(src='img/tab_Bit.png')
  iframe(width="560", height="315", src="https://www.youtube-nocookie.com/embed/d9eSfSACgmI?controls=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope", allowfullscreen)

  .button-collapse-wrap.col-xs-12.col-sm-12.col-md-2.offset-md-2.col-lg-1.offset-lg-11
    .button-collapse Свернуть
