.row
 .col-xs-12
    .page__video-wrap.page__video-wrap--yt
      iframe(width="560", height="315", src="https://www.youtube-nocookie.com/embed/d9eSfSACgmI?controls=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope", allowfullscreen)

.row
 .col-xs-12
  .button-collapse-wrap.col-xs-12
    .button-collapse Свернуть
