.row
  .col-xs-12
    +ytvideo('ZQUxpQHY4eQ')

.tab__film-info
  .row
    .tab__film-head.col-xs-12.col-sm-12.col-md-8
      .tab__film-year 2017
      h3.page__title.tab__film-title Майор Гром: чумной доктор

    .tab__credits.col-xs-12.col-sm-12.col-md-4
      p.tab__credit-role Режиссёр
      p.tab__credit-pers Владимир Беседин
      p.tab__credit-role Сценаристы
      p.tab__credit-pers Владимир Беседин, Артём Габрелянов
      p.tab__credit-role Оператор
      p.tab__credit-pers Арсений Кан
      p.tab__credit-role Композитор
      p.tab__credit-pers Роман Селивёрстов
      p.tab__credit-role Художники
      p.tab__credit-pers В разработке
      p.tab__credit-role Монтаж
      p.tab__credit-pers Юрий Тарханов

    .col-sm-12.col-xs-12.col-md-8
      p.page__text После зрительского успеха техники  «360 градусов» в «Майое Громе» был придуман и воплощен приём съемки, где камера пролетает сквозь автомобили.
  .row
    .col-xs-12
      +autoplay-video('05.webm', 'vid_05.webp','video__wrap--05')

  .button-collapse-wrap.col-xs-12
    .button-collapse Свернуть
