.page__video-wrap
  img(src='img/tab_mayak.png')

.tab__film-info
  .row
    .tab__film-head.col-xs-12.col-sm-12.col-md-8
      .tab__film-year 2017
      h3.page__title.tab__film-title iowa – маяки

    .tab__credits.col-xs-12.col-sm-12.col-md-4
      p.tab__credit-role Режиссёр
      p.tab__credit-pers Владимир Беседин
      p.tab__credit-role Сценаристы
      p.tab__credit-pers Владимир Беседин
      p.tab__credit-role Декоратор
      p.tab__credit-pers Ксения Цель
      p.tab__credit-role Оператор-постановщик
      p.tab__credit-pers Глеб Вавилов

    .col-sm-12.col-xs-12.col-md-8
      p.page__text По сценарию Владимира Беседина герои из придуманного ими мира попадают в реальный мир. Повязка на глазах – розовые очки, через которые герои клипа смотрят на происходящее вокруг. Но когда снимаешь очки, окружающая действительность воспринимается совсем иначе.

    .tab__mayak-cadr.col-sm-12.col-xs-12.col-md-8
      .tab__mayak-cadr-item
        img(src='img/mayak01.png', alt='')
      .tab__mayak-cadr-item
        img(src='img/mayak02.png', alt='')
      .tab__mayak-cadr-item
        img(src='img/mayak03.png', alt='')
      .tab__mayak-cadr-item
        img(src='img/mayak04.png', alt='')
    .page__ill-caption

.page__video-wrap
  img(src='img/block_mayak01.png', alt='')

  .row
    .col-sm-12.col-xs-12.col-md-8
      .page__ill-wrap
        img(src='img/mayak05.png', alt='')
    .col-sm-12.col-xs-12.col-md-8
      .page__ill-wrap
        img(src='img/mayak06.png', alt='')

.page__video-wrap
  img(src='img/block_mayak02.png', alt='')

.row
  .col-sm-12.col-xs-12.col-md-8
    p.page__text Чтобы создать атмосферу апокалипсиса в кадре, в павильоне «Ленфильма» построили декорации экологической катастрофы. В течение нескольких дней съёмочная команда собирала более 80 тысяч килограмм мусора, который после съёмок был отсортирован и сдан на переработку.
  .col-sm-12.col-xs-12.col-md-8
    .page__ill-wrap
      img(src='img/block_mayak03.png', alt='')
.page__video-wrap
  img(src='img/block_mayak04.png', alt='')

.row
  .col-sm-12.col-xs-12.col-md-8
    p.page__text Вместе с колористом Александром Золоторёвым и оператором-постановщиком Глебом Вавиловым после съёмок клипа был создан Apocalyptic lightbox.

  .col-sm-12.col-xs-12.col-md-12.col-lg-11
    .page__ill-wrap
      img(src='img/mayak07.png', alt='')

  .button-collapse-wrap.col-xs-12.col-sm-12.col-md-2.offset-md-2.col-lg-1.offset-lg-11
    .button-collapse Свернуть
