.page__video-wrap
  //- img(src='img/tab_mayak.png')
  iframe(width="560", height="315", src="https://www.youtube-nocookie.com/embed/WbJjkd4HXLg?controls=0", frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope", allowfullscreen)

.tab__film-info
  .row
    .tab__film-head.col-xs-12.col-sm-12.col-md-8
      .tab__film-year 2017
      h3.page__title.tab__film-title iowa&nbsp;— маяки

    .tab__credits.col-xs-12.col-sm-12.col-md-4
      p.tab__credit-role Режиссёр
      p.tab__credit-pers Владимир Беседин
      p.tab__credit-role Сценаристы
      p.tab__credit-pers Владимир Беседин
      p.tab__credit-role Декоратор
      p.tab__credit-pers Ксения Цель
      p.tab__credit-role Оператор-постановщик
      p.tab__credit-pers Глеб Вавилов

    .col-sm-12.col-xs-12.col-md-8
      p.page__text По сценарию Владимира Беседина герои из придуманного ими мира попадают в реальный мир. Повязка на&nbsp;глазах&nbsp;— розовые очки, через которые герои клипа смотрят на происходящее вокруг. Но&nbsp;когда снимаешь очки, окружающая действительность воспринимается совсем иначе.

    .tab__mayak-cadr.col-sm-12.col-xs-12.col-md-8
      .tab__mayak-cadr-item
        img(src='img/mayak01.png', alt='')
      .tab__mayak-cadr-item
        img(src='img/mayak02.png', alt='')
      .tab__mayak-cadr-item
        img(src='img/mayak03.png', alt='')
      .tab__mayak-cadr-item
        img(src='img/mayak04.png', alt='')
    .page__ill-caption

  .row
    .col-xs-12
      .page__video-wrap.page__video-wrap--06
          video(class='video', autoplay='1', loop='1', width='640', preload='none', control)
            source(src='video/06.webm', type='video/webm')

  .row
    .col-sm-12.col-xs-12.col-md-8
      .page__ill-wrap
        img(src='img/mayak05.png', alt='')
    .col-sm-12.col-xs-12.col-md-8
      .page__ill-wrap
        img(src='img/mayak06.png', alt='')

    .col-xs-12
      .page__video-wrap.page__video-wrap--07
          video(class='video', autoplay='1', loop='1', width='640', preload='none', control)
            source(src='video/07.webm', type='video/webm')

.row
  .col-sm-12.col-xs-12.col-md-8
    p.page__text Чтобы создать атмосферу апокалипсиса в&nbsp;кадре, в&nbsp;павильоне «Ленфильма» построили декорации экологической катастрофы. В&nbsp;течение нескольких дней съёмочная команда собирала более 80&nbsp;тысяч килограмм мусора, который после съёмок был отсортирован и&nbsp;сдан на переработку.
  .col-xs-12
    .page__video-wrap.page__video-wrap--08
        video(class='video', autoplay='1', loop='1', width='640', preload='none', control)
          source(src='video/08.webm', type='video/webm')
  .col-xs-12
    .page__video-wrap.page__video-wrap--chrom
        video(class='video', autoplay='1', loop='1', width='640', preload='none', control)
          source(src='video/chrom.webm', type='video/webm')

.row
  .col-sm-12.col-xs-12.col-md-8
    p.page__text Вместе с&nbsp;олористом Александром Золоторёвым и&nbsp;оператором-постановщиком Глебом Вавиловым после съёмок клипа был создан Apocalyptic lightbox.

  .col-sm-12.col-xs-12.col-md-12.col-lg-11
    .page__ill-wrap
      img(src='img/mayak07.png', alt='')

  .button-collapse-wrap.col-xs-12
    .button-collapse Свернуть
