@mixin pseudo($pos: absolute) {
  content: '';
  display: block;
  position: $pos;
}

@mixin text-overflow() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin img-wrap($w, $h) {
  max-width: 100%;
  max-height: 100%;

  img {
    width: $w;
    height: $h;
  }
}


@mixin ff-OpenSans($fw: 400, $sz: $font-size, $lh: $line-height) {
  font-family: $font-family;
  font-weight: $fw;
  font-size: $sz;
  line-height: $lh;
}

@mixin ff-OpenSansCondenced($fw: 400, $sz: $font-size, $lh: $line-height) {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-weight: $fw;
  font-size: $sz;
  line-height: $lh;
}

