// =================================================================
//                       СТИЛИ СЕТКИ
// =================================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}


// Стандартные переменные сетки
$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1280px;

$grid-gap:            10px;
$grid-col:            12;

$margin-xs:           20px;
$margin-sm:           20px;
$margin-md:           60px;
$margin-lg:           60px;


.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.row {
  display: flex;
  align-self: stretch;
  flex-flow: row wrap;
  justify-content: flex-start;
}

[class*='col-'] {
  width: 100%;
  padding: 0 $grid-gap;
}

// ================= min width ==================
// ==============================================
@media (max-width: $screen-xs) {

  .container {
    width: 100%;
  }

  .hidden-xs {
    display: none;
  }

  @for $i from $grid-col through 1 {

    .col-xs-#{$i} {
      width: calc(100% * (#{$i} / #{$grid-col}));
    }
  }

  [class*='offset-'] {
    margin-left: 0;
  }
}

// ================= $screen-xs =================
// ==============================================
@media (min-width: $screen-xs) {

  .container {
    width: $screen-xs;
  }

  .row {
    margin-left: $margin-xs;
    margin-right: $margin-xs;
  }

  .hidden-xs {
    display: none;
  }

  @for $i from $grid-col through 1 {

    .col-xs-#{$i} {
      width: calc(100% * (#{$i} / #{$grid-col}));
    }
  }

  @for $i from $grid-col through 0 {

    .offset-xs-#{$i} {
      margin-left: calc(100% * (#{$i} / #{$grid-col}));
    }
  }
}

// ================= $screen-sm =================
// ==============================================
@media (min-width: $screen-sm) {

  .container {
    width: $screen-sm;
  }

  .row {
    margin-left: $margin-sm;
    margin-right: $margin-sm;
  }

  .hidden-sm {
    display: none;
  }

  @for $i from $grid-col through 1 {

    .col-sm-#{$i} {
      width: calc(100% * (#{$i} / #{$grid-col}));
    }
  }

  @for $i from $grid-col through 0 {

    .offset-sm-#{$i} {
      margin-left: calc(100% * (#{$i} / #{$grid-col}));
    }
  }
}

// ================= $screen-md =================
// ==============================================
@media (min-width: $screen-md) {

  .container {
    width: $screen-md;
  }

  .row {
    margin-left: $margin-md;
    margin-right: $margin-md;
  }

  .hidden-md {
    display: none;
  }

  @for $i from $grid-col through 1 {

    .col-md-#{$i} {
      width: calc(100% * (#{$i} / #{$grid-col}));
    }
  }

  @for $i from $grid-col through 0 {

    .offset-md-#{$i} {
      margin-left: calc(100% * (#{$i} / #{$grid-col}));
    }
  }
}

// ================= $screen-lg =================
// ==============================================
@media (min-width: $screen-lg) {

  .container {
    width: $screen-lg;
  }

  .row {
    margin-left: $margin-lg;
    margin-right: $margin-lg;
  }

  .hidden-lg {
    display: none;
  }

  @for $i from $grid-col through 1 {

    .col-lg-#{$i} {
      width: calc(100% * (#{$i} / #{$grid-col}));
    }
  }

  @for $i from $grid-col through 0 {

    .offset-lg-#{$i} {
      margin-left: calc(100% * (#{$i} / #{$grid-col}));
    }
  }
}
