// 1. Цвета
// 2. Типографика
// 3. Сетка
//

// 1. Цвета
$main-color:          #bedef3;
$warning-color:       #d5303a;

$gray-light:          #bbb;
$gray-dark:           #181818;

$text-color:          #fbfbfb;

// 2. Типографика

$font-family:         'Open Sans', 'Arial', sans-serif;
$font-size:           18px;
$font-size-sm:        14px;
$line-height:         1.4;

// 3. Сетка
$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
